*{
    box-sizing: border-box;
    margin: 0;
}

.header{
    /* style for the page header */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}
#list{
    list-style-type: none;
    justify-content: center;
    align-items: center;
    display: none;
}
 #list li {
    margin: 10px; 
}
.list{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
.list li{
    margin: 10px;
}
li{
    list-style-type: none;
}

.slider{
    text-align: center; /* image slider texts */
}
 .link{
    text-decoration: none;
    color: black;
}
.price{
    font-size: 0.8rem;
}
.newProducts{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    justify-content: center;
}

.items, .pants{
    display: flex;
        gap: 10px;
        overflow: auto;
        max-width: 80%;
        position: relative;
        
}
.items::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}
.items::-webkit-scrollbar-thumb{
    background-color: transparent;
}
.pants::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}
.pants::-webkit-scrollbar-thumb{
    background-color: transparent;
}

.bars{
    display: none;
}
.closing{
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgb(66, 34, 96);
    color: white;
    padding: 20px;
}
.closing  div > p{
    margin-top: 12px;
    font-size: 0.95rem;
}


@media only screen and (max-width: 500px){
    .newProducts{
        grid-template-columns: auto auto;
        gap: 6px;
    }
    
     .list{
        display: none;
    }
    .bars{
        display: block;
    }
    .collections{
        overflow: auto;
        column-gap: 10px;
    }
    .collections::-webkit-scrollbar {
        width: 6px;
        background-color: transparent;
    }
    .collections::-webkit-scrollbar-thumb{
        background-color: transparent;
    }
    .closing{
        position: relative;
        grid-template-columns: auto auto;
    
    }
    
    
    
}

.hoodies{
    width: 100%;
    background-color: aliceblue;
    position: relative;
    text-align: center;
    padding: 20px;
}
.collections{
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
}
.beauty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(67, 63, 63);
    margin: 40px auto;
    padding: 15px;
    color: white;
    font-size: 1.05rem;
    width: 80%;
}
.shopLink{
    color: black;
    background-color: white;
    width: 110px;
    text-align: center;
}
.Cl-pics{
    width: 100%;
    height: 49vh;
}
.review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.buttonLeft, .buttonRight{
    border: none;
    font-size: 1.3rem;
    background-color: transparent;
    position: absolute;
    color: rgb(30, 94, 94);
}
.rev{
    position: relative;
}
.buttonLeft{
    top: 150px;
    left: 2px;
}
.buttonRight{
    top: 150px;
    right: 2px;
}
.banking{
    margin: 0;
}

.card{
    margin: 10px auto;
    width: 350px;
    max-width: 70%;
    height: auto;
    position: relative;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 24px;
    box-shadow: 7px 7px 15px black;
    animation: move 8s ease-in-out infinite alternate forwards;
    background-image: linear-gradient(80deg, rgb(125, 146, 125),  rgb(147, 147, 192), rgb(197, 158, 197) 50%, rgb(214, 136, 148) 100%);
}
.bank{
    position: absolute;
    right: 16px;
    top: 4px;
    font-weight: bolder;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.details{
display: flex;
justify-content: space-between;
}
.design{
    align-self: flex-end;
    border: 1px solid transparent;
    width: 42px;
    height: 35px;
    border-radius: 100%;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
    margin-right: -18px;
    opacity: 0.7;
}
img{
    width: 30px;
    height: auto;
}
.card-numbers{
    color: white;
    letter-spacing: 10px;
    font-weight: bold;
}
.validity{
    font-size: 12px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
@keyframes move {
     0%{left: -100%; transform: rotate(50deg);}
     100%{left: 0; transform: rotate(360deg);}
     
}
.row::after{
    content: "";
    clear:both;
    display: table;
}
[class*="col-"]{
    float: left;
    padding: 16px;
}
[class*="col-"]{
    width: 100%;
}
@media screen and (min-width: 768px) {
    
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

.Cl-pics{
    width: 100%;
    height: 49vh;
}
.rev{
    position: relative;
    width: 65%;
}
}
.imageDesc{
    display: block;
    width: 100px;
    height: 100vh;
}

/* faq style */
.dropDown{
    position: relative;
    display: inline-block;
}
.question{
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 70vw;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 46px;
    
}
.dropdownContent{
    display: none;
    width: 66vw;
}

.questions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

/* time */
.closing  .time{
    position: absolute;
    right: 21.5px;
    top: 20;
    font-size: 1.25rem;
    font-weight: bolder;
}

/* cart image */
.cartImage{
    width: 40vw;
    height: 50vh;
    margin-bottom: 10px;
}
/*cart button */
.cartBot{
    border-radius:4px;
    border: 2px solid transparent;
    background-color: hwb(217 30% 40%);
    color: white;
  }
  .cartBot:hover{
    color: red;
  }

  .notification{
    max-width: 200px;
    background-color: #0befab;
    color: white;
    text-align: center;
    border-radius: 2px;
    padding: 2px;
    border-radius: 7px;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 8;
    height: 43px;
  }
  